@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Resetting */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Media Queries mixins */

@mixin phone {
    @media (max-width: 480px) {
        @content;
    }
}

@mixin small-desktop {
    @media (max-width: 900px) {
        @content;
    }
}

html {
    background: #ff797a;
    background-image: url('../images/bg-desktop.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat-x;
    background-attachment: fixed;
    @include phone {
        background-image: url('../images/bg-mobile.png');
    }
}


/* Variable */

$form-width: 380px;
$input-width: 300px;
$shadow: 5px 5px 5px rgba(0,
0,
0,
0.4);
$form-shadow: 2px 2px 10px rgba(0,
0,
0,
0.4);
$error-color: #ff797a;

/* Container */

.container {
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    @include phone {
        flex-flow: column;
        padding: 60px 10px 30px 10px;
        justify-content: space-evenly;
    }
    @include small-desktop {
        width: 100%;
        padding: 50px 0;
        flex-flow: column;
        justify-content: center;
    }
    .left {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        @include phone {
            padding: 20px 20px 10px 20px;
        }
        @include small-desktop {
            padding: 0;
        }
        .title {
            font-size: 40px;
            font-weight: 800;
            text-align: left;
            width: 450px;
            line-height: 1;
            color: #fff;
            width: $form-width;
            margin: 0 auto;
            @include phone {
                text-align: center;
                width: 90%;
                margin: 0 auto;
                font-size: 30px;
            }
            @include small-desktop {
                font-size: 40px;
                text-align: center;
            }
        }
        .subtitle {
            color: #fff;
            font-size: 16px;
            margin: 20px auto;
            width: 450px;
            line-height: 1.5;
            width: $form-width;
            @include phone {
                text-align: center;
                width: 90%;
            }
            @include small-desktop {
                text-align: center;
                width: 80%;
            }
        }
    }
    .right {
        display: flex;
        flex-flow: column;
        justify-content: center;
        @include phone {
            width: 100%;
        }
        @include small-desktop {
            width: fit-content;
            margin: 0 auto;
        }
        .right-container {
            margin: 0 auto;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include phone {
                width: 100%;
            }
            button {
                min-height: 40px;
                color: #fff;
                border-radius: 6px;
            }
            .try-free-button {
                width: $form-width;
                margin: 0 auto;
                background: #5c54a7;
                border: 1px solid #5c54a7;
                box-shadow: $shadow;
                @include phone {
                    width: 95%;
                    padding: 15px 30px;
                    font-size: 16px;
                }
            }
            .register-form {
                border-radius: 10px;
                padding: 20px;
                background: #fff;
                display: flex;
                flex-flow: column;
                width: $form-width;
                margin: 25px auto;
                box-shadow: $form-shadow;
                @include phone {
                    width: 95%;
                }
                .input-container {
                    margin: 0 auto;
                    .input {
                        border-radius: 8px;
                        font-weight: 500;
                        width: $input-width;
                        height: 40px;
                        padding: 0 20px;
                        border: 1px solid #ccc;
                        margin: 5px auto;
                        color: #333;
                        @include phone {
                            width: 100%;
                        }
                    }
                }
                .submit {
                    margin: 10px auto;
                    background: #36cc8c;
                    text-transform: uppercase;
                    border: 1px solid #36cc8c;
                    font-weight: bold;
                    cursor: pointer;
                    width: $input-width;
                    @include phone {
                        width: 95%;
                    }
                    &:hover {
                        box-shadow: $form-shadow;
                    }
                }
                .form-footer {
                    font-size: 8px;
                    text-align: center;
                    color: #777;
                    margin-bottom: 10px;
                }
            }
        }
    }
}


/* XX Container XX */


/* Thanks container */

.thanks-container {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    height: 100vh;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    .title {
        font-size: 120px;
        font-weight: bold;
        text-align: center;
        color: #fff;
        @include phone {
            text-align: center;
            width: 90%;
            margin: 0 auto;
            font-size: 70px;
        }
        @include small-desktop {
            font-size: 95px;
            text-align: center;
        }
    }
    .subtitle {
        font-size: 20px;
        text-align: center;
        color: #fff;
        @include phone {
            text-align: center;
            width: 90%;
        }
        @include small-desktop {
            text-align: center;
            width: 80%;
        }
    }
}


/* XX Thanks container XX */


/* Errors */

.input-error {
    border-color: $error-color !important;
}

.input-error-message,
.invalid-email-message {
    font-size: 12px;
    margin: 2px 4px;
    font-weight: 400;
    color: $error-color;
}

.hidden {
    display: none;
}


/* XX Error XX */